In [3]:
from bs4 import BeautifulSoup as bs
from unidecode import  unidecode
from urllib.parse import unquote
import pandas as pd
import numpy as np
import requests
import glob

In [158]:
def get_players_link(club_link):
    url = f"https://en.wikipedia.org/wiki/{club_link}"
    response = requests.get(url)
    html = response.content
    soup = bs(html, "lxml")
    players_url_list = []

    for table in soup.find_all('table', class_="wikitable football-squad nogrid"):
        players = table.find_all('span', class_="fn")
        for player in players:
            try:
                players_url_list.append(player.find('a')['href'])
            except:
                pass

    return players_url_list

players_link_list = get_players_link('Arsenal_F.C.')
players_link_list[:4]

['/wiki/Aaron_Ramsdale',
 '/wiki/Kieran_Tierney',
 '/wiki/Ben_White_(footballer)',
 '/wiki/Thomas_Partey']

In [176]:
def get_senior_clubs(player_link):
    url = f"https://en.wikipedia.org{player_link}"
    response = requests.get(url)

    html = response.content
    soup = bs(html, "lxml")

    table = soup.find_all('table', class_="infobox vcard")
    df = pd.read_html(str(table))[0]
    df.columns = range(len(df.columns))

    senior_career_index = df[
            (df[0] == 'Senior career*')
    ].index.values[0] + 1

    header = df.iloc[senior_career_index]

    df_new = df.iloc[
        senior_career_index + 1 :
    ]

    df_new.columns = header

    cpt = 0
    for i in df_new['Apps'].tolist():
        try:
            int(i)
            cpt += 1
        except:
            break

    df_new_cleaned = df_new.head(cpt).reset_index(drop=True)
    df_new_cleaned.columns.name = None
    df_new_cleaned['is_loan'] = df_new_cleaned['Team'].apply(lambda x: 1 if "→ " in x else 0)
    df_new_cleaned['Team'] = (
        df_new_cleaned['Team'].str.replace("→ ", "", regex=True).str.replace(r"\(.*\)", "", regex=True)
    )
    df_new_cleaned.columns = list(map(lambda x: x.replace('(Gls)', 'Goals'), df_new_cleaned.columns.tolist()))
    df_new_cleaned['Goals'] = df_new_cleaned['Goals'].apply(lambda x: x[x.find("(")+1 : x.find(")")])
    df_new_cleaned['Name'] = player_link.replace('/wiki/', '').replace('_', ' ')
    return df_new_cleaned

df = get_senior_clubs('/wiki/Aaron_Ramsdale')
df

       Years              Team Apps Goals  is_loan            Name
0  2016–2017  Sheffield United    0     0        0  Aaron Ramsdale
1  2017–2020   AFC Bournemouth   37     0        0  Aaron Ramsdale
2       2018     Chesterfield    19     0        1  Aaron Ramsdale
3       2019    AFC Wimbledon    20     0        1  Aaron Ramsdale
4  2020–2021  Sheffield United   40     0        0  Aaron Ramsdale
5      2021–           Arsenal   46     0        0  Aaron Ramsdale

In [220]:
club = 'Olympique_de_Marseille'
list_df_players_club = []
players_link_list = get_players_link(club)

for player_link in players_link_list:
    print(player_link)
    try:
        list_df_players_club.append(get_senior_clubs(player_link))
    except:
        print('error')
    
df_players_club = pd.concat(list_df_players_club, ignore_index=True)
df_players_club.to_csv(f'players/{club}.csv', index=False)
print(df_players_club.shape)
df_players_club.tail()

/wiki/Simon_Ngapandouetnbu
/wiki/Eric_Bailly
/wiki/Samuel_Gigot
/wiki/Leonardo_Balerdi
/wiki/Matteo_Guendouzi
/wiki/Jonathan_Clauss
/wiki/Gerson_(footballer,_born_1997)
/wiki/Dimitri_Payet
/wiki/Luis_Su%C3%A1rez_(footballer,_born_1997)
/wiki/Bamba_Dieng
/wiki/Pau_L%C3%B3pez
/wiki/Cengiz_%C3%9Cnder
/wiki/Isaak_Tour%C3%A9
/wiki/Valentin_Rongier
/wiki/Pape_Gueye
/wiki/Sead_Kola%C5%A1inac
/wiki/Jordan_Veretout
/wiki/Issa_Kabor%C3%A9
/wiki/Nuno_Tavares
/wiki/Rub%C3%A9n_Blanco
/wiki/Bartu%C4%9F_Elmaz
/wiki/Alexis_S%C3%A1nchez
/wiki/Amine_Harit
/wiki/Chancel_Mbemba
/wiki/Jordan_Amavi
/wiki/Pol_Lirola
/wiki/Oussama_Targhalline
/wiki/Nemanja_Radonji%C4%87
/wiki/Kevin_Strootman
/wiki/Luis_Henrique_(footballer,_born_2001)
/wiki/Konrad_de_la_Fuente
/wiki/Arkadiusz_Milik
/wiki/Bartu%C4%9F_Elmaz
/wiki/Roggerio_Nyakossi
/wiki/Ibtoihi_Hadhari
/wiki/Pedro_Ruiz_(footballer,_born_2000)
/wiki/Salim_Ben_Seghir
(183, 6)

,Years,Team,Apps,Goals,is_loan,Name
178,2021–,Marseille II,0,0,0,"Pedro Ruiz (footballer, born 2000)"
179,2021–2022,NEC,3,0,1,"Pedro Ruiz (footballer, born 2000)"
180,2020–2021,Nice II,9,3,0,Salim Ben Seghir
181,2020–2021,Nice,1,0,0,Salim Ben Seghir
182,2021–,Marseille,0,0,0,Salim Ben Seghir

In [11]:
all_files = glob.glob("players/*.csv")
li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True).rename(columns={'Team': 'Teams'})[['Name', 'Teams']]

for c in frame.columns:
    frame[c] = frame[c].apply(lambda x: unidecode(unquote(x.strip()))).str.replace(r"\(.*\)", "", regex=True)

    
frame = frame[
    (~frame['Teams'].str.endswith(' B'))
    & (~frame['Teams'].str.endswith(' II'))
    & (~frame['Teams'].str.endswith(' 2'))
]
frame.drop_duplicates(inplace=True)    
frame.tail()

                   Name            Teams
1522       Yaya Soumare           Annecy
1523       Yaya Soumare  Bourg-en-Bresse
1525  Mohamed El Arouch             Lyon
1528   Florent Da Silva             Lyon
1529   Florent Da Silva     Villefranche

In [12]:
pd.set_option('display.max_rows', None)
frame['Teams'].value_counts()

Chelsea                     52
Manchester United           52
Manchester City             47
Arsenal                     46
Monaco                      45
Paris Saint-Germain         42
Barcelona                   40
Marseille                   36
Lyon                        35
Liverpool                   33
Borussia Dortmund           12
Roma                        12
Benfica                     11
Real Madrid                 11
Porto                       10
Aston Villa                  9
Ajax                         9
Inter Milan                  9
Sporting CP                  8
Atletico Madrid              8
Hull City                    8
Schalke 04                   8
Sevilla                      8
Fulham                       7
Bayern Munich                7
Valencia                     7
Sheffield United             7
Southampton                  7
Juventus                     7
Lille                        7
Anderlecht                   6
AC Milan                     6
Reims                        6
Dijon                        6
Nantes                       6
Huddersfield Town            6
Fluminense                   6
Napoli                       6
Leicester City               6
Le Havre                     6
Leeds United                 6
Nice                         6
Charlton Athletic            5
Lorient                      5
Basel                        5
Swansea City                 5
Rennes                       5
Tottenham Hotspur            5
RB Leipzig                   5
Real Madrid Castilla         5
Borussia Monchengladbach     5
Saint-Etienne                5
Fiorentina                   5
Wigan Athletic               4
Galatasaray                  4
Derby County                 4
Cercle Brugge                4
Angers                       4
Newcastle United             4
Watford                      4
Mallorca                     4
Troyes                       4
Sao Paulo                    4
Bayer Leverkusen             4
Caen                         4
Wolverhampton Wanderers      4
Reading                      4
Sunderland                   4
AFC Bournemouth              4
Elche                        4
Gremio                       4
West Bromwich Albion         4
Swindon Town                 4
Coventry City                3
Alanyaspor                   3
Betis                        3
Jong Ajax                    3
Athletic Bilbao              3
Genk                         3
Crystal Palace               3
Feyenoord                    3
Hamburger SV                 3
Montpellier                  3
Rio Ave                      3
Vitesse                      3
Blackpool                    3
Auxerre                      3
1899 Hoffenheim              3
Getafe                       3
Bolton Wanderers             3
Espanyol                     3
Middlesbrough                3
Hertha BSC                   3
Stoke City                   3
Milton Keynes Dons           3
Brighton & Hove Albion       3
Queens Park Rangers          3
Heerenveen                   3
Blackburn Rovers             3
PSV                          3
Villarreal                   3
Everton                      3
Birmingham City              3
Accrington Stanley           3
Celtic                       3
Udinese                      3
Flamengo                     3
Metz                         3
Burnley                      3
Rochdale                     2
Red Bull Salzburg            2
Doncaster Rovers             2
Young Boys                   2
Peterborough United          2
Pacos de Ferreira            2
VfL Wolfsburg                2
Basconia                     2
Internacional                2
Tromso                       2
Nottingham Forest            2
Al Mokawloon                 2
Salford City                 2
1860 Munich                  2
Cardiff City                 2
Gimnastic                    2
OH Leuven                    2
Granada                      2
Sparta Prague                2
Boulogne                     2
Boca Juniors                 2
Zaragoza                     2
Bordeaux                     2
Avai                         2
Braga                        2
Toulouse                     2
Dinamo Zagreb                2
Ipswich Town                 2
Strasbourg                   2
Utrecht                      2
Almeria                      2
Avranches                    2
Sarpsborg 08                 2
Paris FC                     2
Servette                     2
Girona                       2
AFC Wimbledon                2
Olympiacos                   2
Juventude                    2
Shakhtar Donetsk             2
Sampdoria                    2
Sochaux                      2
Woking                       2
Brest                        2
Esbjerg                      2
Preston North End            2
Crewe Alexandra              2
Kortrijk                     2
Penarol                      2
River Plate                  2
Santos                       2
Stockport County             2
Orleans                      2
NEC                          2
West Ham United              2
Arminia Bielefeld            2
Lens                         2
Alaves                       2
Genoa                        2
FC Augsburg                  2
Osasuna                      2
Novara                       1
Notts County                 1
Chesterfield                 1
Karacabey Belediyespor       1
1. FC Koln                   1
Dartford                     1
Valladolid                   1
UJA Alfortville              1
Bristol City                 1
Boston River                 1
Jersey Express               1
Dundee United                1
Cagliari                     1
Annecy                       1
Greuther Furth               1
Stromsgodset                 1
Bologna                      1
Leones                       1
Real Sociedad                1
Hatayspor                    1
Atletico Junior              1
Grenoble                     1
Hellas Verona                1
Las Palmas                   1
Betis C                      1
Independiente                1
1. FC Nurnberg               1
Roda                         1
PEC Zwolle                   1
Norwich City                 1
Cherbourg                    1
Real Murcia                  1
Coritiba                     1
Gent                         1
Sambonifacese                1
Bryne                        1
Metropolitan Police          1
Delta Warsaw                 1
Ibiza                        1
Parma                        1
Sabadell                     1
Dynamo Moscow                1
Newport County               1
Sint-Truiden                 1
Twente                       1
Chievo                       1
Gillingham                   1
Mechelen                     1
Cobreloa                     1
Vejle BK                     1
Rosenborg                    1
AZ                           1
RS Futebol                   1
Raon-l'Etape                 1
Real Betis                   1
PAOK                         1
Barrow                       1
Sevilla Atletico             1
Zilina                       1
Gornik Zabrze                1
Botafogo                     1
Saprissa                     1
Chicago Fire                 1
Portsmouth                   1
Winterthur                   1
Besiktas                     1
SC Paderborn                 1
Stal Mielec                  1
Eintracht Frankfurt          1
Cornella                     1
Colo-Colo                    1
Nordsjaelland                1
Kidderminster Harriers       1
Vasco da Gama                1
Lech Poznan                  1
Solihull Moors               1
New England Revolution       1
Leyton Orient                1
Barcelona C                  1
Bastia                       1
Wacker Burghausen            1
Palmeiras                    1
NAC Breda                    1
Maritimo                     1
Clermont                     1
Hercules                     1
Queen's Park                 1
Sassuolo                     1
Club Brugge                  1
Bursaspor                    1
Bury                         1
Vasteras SK                  1
Banfield                     1
Northampton Town             1
Quimper                      1
Sparta Rotterdam             1
Mainz 05                     1
Villefranche                 1
Zulte Waregem                1
Cerezo Osaka                 1
Rentistas                    1
Philadelphia Union           1
Academica                    1
Pittsburgh Riverhounds       1
Corinthians                  1
Wycombe Wanderers            1
Lokomotiv Moscow             1
Arsenal Kyiv                 1
Macclesfield                 1
Brentford                    1
Laval                        1
VfB Stuttgart                1
Sheffield Wednesday          1
Alcala                       1
Forest Green Rovers          1
CSKA Moscow                  1
Ponte Preta                  1
Grimsby Town                 1
Cukaricki                    1
Hibernian                    1
Lecce                        1
Empoli                       1
Zenit Saint Petersburg       1
Deportivo La Coruna          1
Albacete                     1
Columbus Crew SC             1
KR Reykjavik                 1
Molde                        1
Ribeirao                     1
Groningen                    1
Famalicao                    1
Bourg-en-Bresse              1
Legia Warsaw                 1
Chateauroux                  1
Eupen                        1
Goias                        1
Feirense                     1
Defensa y Justicia           1
Altay                        1
Belenenses                   1
1. FC Kaiserslautern         1
Poitiers                     1
Ponferradina                 1
Aris                         1
Exeter City                  1
Colorado Rapids              1
Jong PSV                     1
Barranquilla                 1
PSV Eindhoven                1
Utrera                       1
Quevilly-Rouen               1
Nomme United                 1
Nancy                        1
Yeovil Town                  1
Pescara                      1
Southend United              1
Newell's Old Boys            1
Rangers                      1
Atalanta                     1
Pacos Ferreira               1
Altinordu                    1
Znicz Pruszkow               1
Richmond Kickers             1
Levante                      1
Shrewsbury Town              1
Istanbul Basaksehir          1
Huesca                       1
Ross County                  1
Burton Albion                1
Diambars                     1
Celta                        1
Venezia                      1
Red Star Belgrade            1
Olhanense                    1
Milan                        1
Eibar                        1
Ufa                          1
Fortuna Dusseldorf           1
Asante Kotoko                1
Torino                       1
Parana                       1
Werder Bremen                1
Jong AZ                      1
Stevenage                    1
Monza                        1
Ituano                       1
AS Excelsior                 1
Slovan Liberec               1
Aberdeen                     1
Barnsley                     1
Rouen                        1
Spartak Moscow               1
Arles-Avignon                1
Figueirense                  1
Mansfield Town               1
Universidad Catolica         1
RFC Seraing                  1
Racing Santander             1
Charleroi                    1
Avispa Fukuoka               1
Real Zaragoza                1
Bethlehem Steel              1
Jong Utrecht                 1
Vitoria Guimaraes            1
Royal Antwerp                1
Ajaccio                      1
Niort                        1
SV Linx                      1
Spezia                       1
Cuiaba                       1
Name: Teams, dtype: int64

In [13]:
df_final = frame[['Name', 'Teams']].groupby('Name').agg({'Teams': lambda x: list(x)}).reset_index()
df_final['Number_Teams'] = df_final['Teams'].apply(lambda x: len(x))
df_final_workable = df_final[
    (df_final['Number_Teams'] >= 3)
    & (df_final['Name'].apply(lambda x: len(x.split())) < 3)
].copy()
df_final_workable['Name'] = df_final_workable['Name'].apply(lambda x: x.split()[-1])
df_final_workable.tail()

        Name                                              Teams  Number_Teams
362   Saliba          [Saint-Etienne, Arsenal, Nice, Marseille]             4
365    Couto         [Coritiba, Manchester City, Girona, Braga]             4
366  Soumare             [Lyon, Dijon, Annecy, Bourg-en-Bresse]             4
369     Kone  [Lille, Reims, Lyon, Elche, Hatayspor, Troyes,...             7
370  Steffen  [Columbus Crew SC, Pittsburgh Riverhounds, Man...             5

In [14]:
df_final_workable[['Name', 'Teams']].to_json('players.json', orient="records")

In [1]:
pip install pyrebase

Collecting pyrebase
  Downloading Pyrebase-3.0.27-py3-none-any.whl (9.6 kB)
Collecting gcloud==0.17.0
  Downloading gcloud-0.17.0.tar.gz (458 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 458.0/458.0 KB 2.3 MB/s eta 0:00:0000:0100:01
  Preparing metadata (setup.py) ... done
Collecting requests-toolbelt==0.7.0
  Downloading requests_toolbelt-0.7.0-py2.py3-none-any.whl (52 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 52.3/52.3 KB 1.7 MB/s eta 0:00:00
Collecting python-jwt==2.0.1
  Downloading python_jwt-2.0.1-py2.py3-none-any.whl (8.8 kB)
Collecting pycryptodome==3.4.3
  Downloading pycryptodome-3.4.3.tar.gz (6.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.5/6.5 MB 3.5 MB/s eta 0:00:0000:0100:01
  Preparing metadata (setup.py) ... done
Collecting oauth2client==3.0.0
  Downloading oauth2client-3.0.0.tar.gz (77 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 77.2/77.2 KB 1.7 MB/s eta 0:00:00a 0:00:01
  Preparing metadata (setup.py) ... done
Collecting requests==2.11.1
  Downloading requests-2.11.1-py2.py3-none-any.whl (514 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 514.8/514.8 KB 3.2 MB/s eta 0:00:0000:0100:01
Collecting httplib2>=0.9.1
  Downloading httplib2-0.21.0-py3-none-any.whl (96 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 96.8/96.8 KB 3.4 MB/s eta 0:00:00
Collecting googleapis-common-protos
  Downloading googleapis_common_protos-1.56.4-py2.py3-none-any.whl (211 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 211.7/211.7 KB 2.2 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: protobuf!=3.0.0.b2.post1,>=3.0.0b2 in /Users/clement.tailleur/Documents/Py3_MagicEnv/lib/python3.7/site-packages (from gcloud==0.17.0->pyrebase) (4.21.7)
Requirement already satisfied: six in /Users/clement.tailleur/Documents/Py3_MagicEnv/lib/python3.7/site-packages (from gcloud==0.17.0->pyrebase) (1.16.0)
Collecting pyasn1>=0.1.7
  Using cached pyasn1-0.4.8-py2.py3-none-any.whl (77 kB)
Collecting pyasn1-modules>=0.0.5
  Using cached pyasn1_modules-0.2.8-py2.py3-none-any.whl (155 kB)
Collecting rsa>=3.1.4
  Downloading rsa-4.9-py3-none-any.whl (34 kB)
Collecting jws>=0.1.3
  Downloading jws-0.1.3.tar.gz (8.1 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pyparsing!=3.0.0,!=3.0.1,!=3.0.2,!=3.0.3,<4,>=2.4.2 in /Users/clement.tailleur/Documents/Py3_MagicEnv/lib/python3.7/site-packages (from httplib2>=0.9.1->gcloud==0.17.0->pyrebase) (3.0.9)
Using legacy 'setup.py install' for gcloud, since package 'wheel' is not installed.
Using legacy 'setup.py install' for oauth2client, since package 'wheel' is not installed.
Using legacy 'setup.py install' for pycryptodome, since package 'wheel' is not installed.
Using legacy 'setup.py install' for jws, since package 'wheel' is not installed.
Installing collected packages: requests, pycryptodome, pyasn1, jws, rsa, requests-toolbelt, python-jwt, pyasn1-modules, httplib2, googleapis-common-protos, oauth2client, gcloud, pyrebase
  Attempting uninstall: requests
    Found existing installation: requests 2.28.1
    Uninstalling requests-2.28.1:
      Successfully uninstalled requests-2.28.1
  Running setup.py install for pycryptodome ... done
  Running setup.py install for jws ... done
  Running setup.py install for oauth2client ... done
  Running setup.py install for gcloud ... done
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
forex-python 1.8 requires simplejson, which is not installed.
Successfully installed gcloud-0.17.0 googleapis-common-protos-1.56.4 httplib2-0.21.0 jws-0.1.3 oauth2client-3.0.0 pyasn1-0.4.8 pyasn1-modules-0.2.8 pycryptodome-3.4.3 pyrebase-3.0.27 python-jwt-2.0.1 requests-2.11.1 requests-toolbelt-0.7.0 rsa-4.9
WARNING: You are using pip version 22.0.4; however, version 22.3.1 is available.
You should consider upgrading via the '/Users/clement.tailleur/Documents/Py3_MagicEnv/bin/python3.7 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [5]:
import firebase_admin
from firebase_admin import credentials

cred = credentials.Certificate("sellaci-firebase-adminsdk-vrooh-b00cb44e97.json")
firebase_admin.initialize_app(cred)

In [11]:
#cred = credentials.RefreshToken('sellaci-firebase-adminsdk-vrooh-b00cb44e97.json')
default_app = firebase_admin.initialize_app()

ValueError: The default Firebase app already exists. This means you called initialize_app() more than once without providing an app name as the second argument. In most cases you only need to call initialize_app() once. But if you do want to initialize multiple apps, pass a second argument to initialize_app() to give each app a unique name.

In [21]:
import firebase_admin
from firebase_admin import credentials

if not firebase_admin._apps:
    print('here')
    cred = credentials.Certificate("sellaci-firebase-adminsdk-vrooh-b00cb44e97.json") 
    default_app = firebase_admin.initialize_app(cred)

In [23]:
firebase_admin.auth()

TypeError: 'module' object is not callable

In [54]:
import firebase_admin
import pyrebase

path = "sellaci-firebase-adminsdk-vrooh-b00cb44e97.json"
config = {
  "apiKey": "AIzaSyC1cWUnbS8RVylcsWEO2WUtG99lrMemvwM",
  "authDomain": "sellaci.firebaseapp.com",
  "databaseURL": "",
  "storageBucket": "sellaci.appspot.com"
}


#cred_obj = firebase_admin.credentials.Certificate(path)
firebase = pyrebase.initialize_app(config)
auth = firebase.auth()

In [59]:
auth.create_user_with_email_and_password('clement.tailleur@gmail.com', 'test123456')

{'kind': 'identitytoolkit#SignupNewUserResponse',
 'idToken': 'eyJhbGciOiJSUzI1NiIsImtpZCI6ImQ3YjE5MTI0MGZjZmYzMDdkYzQ3NTg1OWEyYmUzNzgzZGMxYWY4OWYiLCJ0eXAiOiJKV1QifQ.eyJpc3MiOiJodHRwczovL3NlY3VyZXRva2VuLmdvb2dsZS5jb20vc2VsbGFjaSIsImF1ZCI6InNlbGxhY2kiLCJhdXRoX3RpbWUiOjE2NjgyNjY5NTUsInVzZXJfaWQiOiJPM1RuSElCRzFEZTg3bHRWaVM4MU1zS2ZDa24xIiwic3ViIjoiTzNUbkhJQkcxRGU4N2x0VmlTODFNc0tmQ2tuMSIsImlhdCI6MTY2ODI2Njk1NSwiZXhwIjoxNjY4MjcwNTU1LCJlbWFpbCI6ImNsZW1lbnQudGFpbGxldXJAZ21haWwuY29tIiwiZW1haWxfdmVyaWZpZWQiOmZhbHNlLCJmaXJlYmFzZSI6eyJpZGVudGl0aWVzIjp7ImVtYWlsIjpbImNsZW1lbnQudGFpbGxldXJAZ21haWwuY29tIl19LCJzaWduX2luX3Byb3ZpZGVyIjoicGFzc3dvcmQifX0.jm-IVDzRmu_kBouVjZkT6hEjG3JEWBKq66BaezjuM3hs7-Ffb8dhk9-awCtneSeNUIqutgrVlHNHG3xkhd5zldlcUxY8qRa5GalgjLplsyoaG5-51UA0M57zRxnDrliyTsmAigVxz7xBr4UW-h3_jYvLQoUzG8Wta6OkdhjpNz1tpO4j7Eu4NWRnulLmE3Qni7xBhuhLEr_ymUzLNvKCysgLO-6MF3_Q2q3OgLrDp43frjFb3Lwm_laIX_uHAso7PpNYZv3xOxk1jjdTSIwh1mr0b5Hc9zVpYdH6LNFlJDU36AU2AA8BJPMj5oHyscCIPIa9YPMm8eejv2Boeh0r7w',
 'email': 'clement.tailleur@gmail.com',
 'refreshToken': 'AOkPPWTT9_Q8lQ5SeEJz8IcfIhbOu_b2Vt3kFTilBikayKr7clXqJ-yMjpx-L7ifB0A-9mzQovW0EK8uDZrJEts8eD4we6kg9_KR4pA69Na3JVzMBVaahkNcoQC5qBxmjp9TqlFX6lMCTrmtm8fgtfuNkva1iloLkKVz_C-uFlv8c3-QLr2GQ58X5vrjKIdFrDRrPiyxxEnP',
 'expiresIn': '3600',
 'localId': 'O3TnHIBG1De87ltViS81MsKfCkn1'}

In [61]:
auth.sign_in_with_email_and_password('clement.tailleur@gmail.com', 'test123456')

{'kind': 'identitytoolkit#VerifyPasswordResponse',
 'localId': 'O3TnHIBG1De87ltViS81MsKfCkn1',
 'email': 'clement.tailleur@gmail.com',
 'displayName': '',
 'idToken': 'eyJhbGciOiJSUzI1NiIsImtpZCI6ImQ3YjE5MTI0MGZjZmYzMDdkYzQ3NTg1OWEyYmUzNzgzZGMxYWY4OWYiLCJ0eXAiOiJKV1QifQ.eyJpc3MiOiJodHRwczovL3NlY3VyZXRva2VuLmdvb2dsZS5jb20vc2VsbGFjaSIsImF1ZCI6InNlbGxhY2kiLCJhdXRoX3RpbWUiOjE2NjgyNjcyMjIsInVzZXJfaWQiOiJPM1RuSElCRzFEZTg3bHRWaVM4MU1zS2ZDa24xIiwic3ViIjoiTzNUbkhJQkcxRGU4N2x0VmlTODFNc0tmQ2tuMSIsImlhdCI6MTY2ODI2NzIyMiwiZXhwIjoxNjY4MjcwODIyLCJlbWFpbCI6ImNsZW1lbnQudGFpbGxldXJAZ21haWwuY29tIiwiZW1haWxfdmVyaWZpZWQiOmZhbHNlLCJmaXJlYmFzZSI6eyJpZGVudGl0aWVzIjp7ImVtYWlsIjpbImNsZW1lbnQudGFpbGxldXJAZ21haWwuY29tIl19LCJzaWduX2luX3Byb3ZpZGVyIjoicGFzc3dvcmQifX0.dy5TKUfByH2szSulM_4VDevtGd05-kZlUS36guSarRCVqtEZUMI-F-7u5AMF_Igk1eapea_Rtz_2ncN2mVQuHCrsiLFFIvtXbaCzsGcgm7H8rq29gGG6EA07h9k2wgLks6fI1wKRPcz6TEa8LWktPWfyo8eTBM_ydUkUXESN_5QF-E9sPrjK8PgGWxnbbQInDHzlk32Ccmwq5nGg_cBd-0WTsfXIyXz3WLknjNpHNDAC4rWez9IBv6iMD6ee53R36ULcySC4vIapx4lAGGkfgUR1K-z0yo_ll7K8PPJf9RwPLMIj6k8o-irhmbPVcVI6eB7RliIPT_BMtMS_DjkKMg',
 'registered': True,
 'refreshToken': 'AOkPPWQd9TICaYQYnc-8-enmOW2UjzmfXcI7jg9_TkXetAht4v9rJo-yIban21Y1vYQ5VJWFORALgo8PEOSvyqRn-o9DVZxCNQZifJ5DvaUZMV-3_QNNP-2GCUIhdi1NdxV-knImfRCknLWnl__AuB_9hxWP1DOEQGBzhVsCxjcF8-K1rAGgN6Os4JiabY7iZl2h15BHjivH',
 'expiresIn': '3600'}

In [31]:
import firebase_admin
from firebase_admin import credentials
from firebase_admin import firestore
path = "sellaci-firebase-adminsdk-vrooh-b00cb44e97.json"

# Use a service account.
cred = credentials.Certificate(path)

#app = firebase_admin.initialize_app(cred)

db = firestore.client()

In [32]:
db

In [33]:
doc_ref = db.collection(u'players')

In [37]:
doc_ref = db.collection(u'players').document('MartinOdegaard')

doc_ref.set({
    'name': 'Odegaard',
    'club': ['Arsenal', 'Real Madrid'],
})

update_time {
  seconds: 1668263784
  nanos: 554648000
}