In [1]:
from bs4 import BeautifulSoup as bs
from unidecode import  unidecode
from urllib.parse import unquote
import pandas as pd
import numpy as np
import requests
import glob

In [158]:
def get_players_link(club_link):
    url = f"https://en.wikipedia.org/wiki/{club_link}"
    response = requests.get(url)
    html = response.content
    soup = bs(html, "lxml")
    players_url_list = []

    for table in soup.find_all('table', class_="wikitable football-squad nogrid"):
        players = table.find_all('span', class_="fn")
        for player in players:
            try:
                players_url_list.append(player.find('a')['href'])
            except:
                pass

    return players_url_list

players_link_list = get_players_link('Arsenal_F.C.')
players_link_list[:4]

['/wiki/Aaron_Ramsdale',
 '/wiki/Kieran_Tierney',
 '/wiki/Ben_White_(footballer)',
 '/wiki/Thomas_Partey']

In [176]:
def get_senior_clubs(player_link):
    url = f"https://en.wikipedia.org{player_link}"
    response = requests.get(url)

    html = response.content
    soup = bs(html, "lxml")

    table = soup.find_all('table', class_="infobox vcard")
    df = pd.read_html(str(table))[0]
    df.columns = range(len(df.columns))

    senior_career_index = df[
            (df[0] == 'Senior career*')
    ].index.values[0] + 1

    header = df.iloc[senior_career_index]

    df_new = df.iloc[
        senior_career_index + 1 :
    ]

    df_new.columns = header

    cpt = 0
    for i in df_new['Apps'].tolist():
        try:
            int(i)
            cpt += 1
        except:
            break

    df_new_cleaned = df_new.head(cpt).reset_index(drop=True)
    df_new_cleaned.columns.name = None
    df_new_cleaned['is_loan'] = df_new_cleaned['Team'].apply(lambda x: 1 if "→ " in x else 0)
    df_new_cleaned['Team'] = (
        df_new_cleaned['Team'].str.replace("→ ", "", regex=True).str.replace(r"\(.*\)", "", regex=True)
    )
    df_new_cleaned.columns = list(map(lambda x: x.replace('(Gls)', 'Goals'), df_new_cleaned.columns.tolist()))
    df_new_cleaned['Goals'] = df_new_cleaned['Goals'].apply(lambda x: x[x.find("(")+1 : x.find(")")])
    df_new_cleaned['Name'] = player_link.replace('/wiki/', '').replace('_', ' ')
    return df_new_cleaned

df = get_senior_clubs('/wiki/Aaron_Ramsdale')
df

       Years              Team Apps Goals  is_loan            Name
0  2016–2017  Sheffield United    0     0        0  Aaron Ramsdale
1  2017–2020   AFC Bournemouth   37     0        0  Aaron Ramsdale
2       2018     Chesterfield    19     0        1  Aaron Ramsdale
3       2019    AFC Wimbledon    20     0        1  Aaron Ramsdale
4  2020–2021  Sheffield United   40     0        0  Aaron Ramsdale
5      2021–           Arsenal   46     0        0  Aaron Ramsdale

In [220]:
club = 'Olympique_de_Marseille'
list_df_players_club = []
players_link_list = get_players_link(club)

for player_link in players_link_list:
    print(player_link)
    try:
        list_df_players_club.append(get_senior_clubs(player_link))
    except:
        print('error')
    
df_players_club = pd.concat(list_df_players_club, ignore_index=True)
df_players_club.to_csv(f'players/{club}.csv', index=False)
print(df_players_club.shape)
df_players_club.tail()

/wiki/Simon_Ngapandouetnbu
/wiki/Eric_Bailly
/wiki/Samuel_Gigot
/wiki/Leonardo_Balerdi
/wiki/Matteo_Guendouzi
/wiki/Jonathan_Clauss
/wiki/Gerson_(footballer,_born_1997)
/wiki/Dimitri_Payet
/wiki/Luis_Su%C3%A1rez_(footballer,_born_1997)
/wiki/Bamba_Dieng
/wiki/Pau_L%C3%B3pez
/wiki/Cengiz_%C3%9Cnder
/wiki/Isaak_Tour%C3%A9
/wiki/Valentin_Rongier
/wiki/Pape_Gueye
/wiki/Sead_Kola%C5%A1inac
/wiki/Jordan_Veretout
/wiki/Issa_Kabor%C3%A9
/wiki/Nuno_Tavares
/wiki/Rub%C3%A9n_Blanco
/wiki/Bartu%C4%9F_Elmaz
/wiki/Alexis_S%C3%A1nchez
/wiki/Amine_Harit
/wiki/Chancel_Mbemba
/wiki/Jordan_Amavi
/wiki/Pol_Lirola
/wiki/Oussama_Targhalline
/wiki/Nemanja_Radonji%C4%87
/wiki/Kevin_Strootman
/wiki/Luis_Henrique_(footballer,_born_2001)
/wiki/Konrad_de_la_Fuente
/wiki/Arkadiusz_Milik
/wiki/Bartu%C4%9F_Elmaz
/wiki/Roggerio_Nyakossi
/wiki/Ibtoihi_Hadhari
/wiki/Pedro_Ruiz_(footballer,_born_2000)
/wiki/Salim_Ben_Seghir
(183, 6)

,Years,Team,Apps,Goals,is_loan,Name
178,2021–,Marseille II,0,0,0,"Pedro Ruiz (footballer, born 2000)"
179,2021–2022,NEC,3,0,1,"Pedro Ruiz (footballer, born 2000)"
180,2020–2021,Nice II,9,3,0,Salim Ben Seghir
181,2020–2021,Nice,1,0,0,Salim Ben Seghir
182,2021–,Marseille,0,0,0,Salim Ben Seghir

In [18]:
all_files = glob.glob("players/*.csv")
li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True).rename(columns={'Team': 'Teams'})[['Name', 'Teams', 'Apps']]

for c in ['Name', 'Teams']:
    frame[c] = frame[c].apply(lambda x: unidecode(unquote(x.strip()))).str.replace(r"\(.*\)", "", regex=True)

    
frame = frame[
    (~frame['Teams'].str.endswith(' B'))
    & (~frame['Teams'].str.endswith(' II'))
    & (~frame['Teams'].str.endswith(' 2'))
    & (frame['Apps'] > 20)
]
frame.drop_duplicates(inplace=True)    
frame.tail()

                Name                   Teams  Apps
1504  Youssouf Kone                   Troyes    21
1507    Cenk Ozkacar  Karacabey Belediyespor    23
1510    Cenk Ozkacar               OH Leuven    33
1512         Camilo              Ponte Preta    32
1514         Camilo                   Cuiaba    33

In [20]:
df_final = frame[['Name', 'Teams']].groupby('Name').agg({'Teams': lambda x: list(x)}).reset_index()
df_final['Number_Teams'] = df_final['Teams'].apply(lambda x: len(x))
df_final_workable = df_final[
    (df_final['Number_Teams'] >= 3)
    & (df_final['Name'].apply(lambda x: len(x.split())) < 3)
].copy().reset_index(drop=True)
df_final_workable['ShortName'] = df_final_workable['Name'].apply(lambda x: x.split()[-1])
df_final_workable.tail()

,Name,Teams,Number_Teams,ShortName
126,Tiemoue Bakayoko,"[Rennes, Monaco, Chelsea, AC Milan, Napoli]",5,Bakayoko
127,Tom Heaton,"[Cardiff City, Cardiff City, Bristol City, Bur...",4,Heaton
128,Tom Huddlestone,"[Derby County, Tottenham Hotspur, Hull City, D...",4,Huddlestone
129,Trevoh Chalobah,"[Chelsea, Ipswich Town, Huddersfield Town, Lor...",4,Chalobah
130,Victor Lindelof,"[Vasteras SK, Benfica, Manchester United]",3,Lindelof

In [21]:
df_final_workable[['Name', 'ShortName', 'Teams']].to_json('players.json', orient="records")

In [60]:
import firebase_admin
import pyrebase

a = 'AIzaSyC1cWUnbS8RVylcsWEO2WUtG99lrMemvwM'
path = "sellaci-firebase-adminsdk-vrooh-b00cb44e97.json"
config = {
  "apiKey": "AIzaSyC1cWUnbS8RVylcsWEO2WUtG99lrMemvwM",
  "authDomain": "sellaci.firebaseapp.com",
  "databaseURL": "",
  "storageBucket": "sellaci.appspot.com"
}


#cred_obj = firebase_admin.credentials.Certificate(path)
firebase = pyrebase.initialize_app(config)
auth = firebase.auth()

In [62]:
auth.sign_in_with_email_and_password('clement.tailleur@gmail.com', 'Test123456')

{'kind': 'identitytoolkit#VerifyPasswordResponse',
 'localId': 'O3TnHIBG1De87ltViS81MsKfCkn1',
 'email': 'clement.tailleur@gmail.com',
 'displayName': '',
 'idToken': 'eyJhbGciOiJSUzI1NiIsImtpZCI6ImY4MDljZmYxMTZlNWJhNzQwNzQ1YmZlZGE1OGUxNmU4MmYzZmQ4MDUiLCJ0eXAiOiJKV1QifQ.eyJpc3MiOiJodHRwczovL3NlY3VyZXRva2VuLmdvb2dsZS5jb20vc2VsbGFjaSIsImF1ZCI6InNlbGxhY2kiLCJhdXRoX3RpbWUiOjE2Njg5NTU5ODQsInVzZXJfaWQiOiJPM1RuSElCRzFEZTg3bHRWaVM4MU1zS2ZDa24xIiwic3ViIjoiTzNUbkhJQkcxRGU4N2x0VmlTODFNc0tmQ2tuMSIsImlhdCI6MTY2ODk1NTk4NCwiZXhwIjoxNjY4OTU5NTg0LCJlbWFpbCI6ImNsZW1lbnQudGFpbGxldXJAZ21haWwuY29tIiwiZW1haWxfdmVyaWZpZWQiOnRydWUsImZpcmViYXNlIjp7ImlkZW50aXRpZXMiOnsiZW1haWwiOlsiY2xlbWVudC50YWlsbGV1ckBnbWFpbC5jb20iXX0sInNpZ25faW5fcHJvdmlkZXIiOiJwYXNzd29yZCJ9fQ.kZeEARlhxOTqivdtsSk8pRNVZ9W4DHgS8nqYMqwowhWpHirhJ7UH5nSgr7dJ4UI4mwz-3wVmb6LKEP-gpuZ94gOS50sM0uEuWZ19o-TJSXDJrRxNeGfQ9wQTSag6_LtjPAR3Qf8FsHZIc0S9ePbnKKk1VpcyEwLwbQYZFJs1strWyvDCCJt0TDzwv6V1qNOaYKoWJstwoLAJfvunKKGYKGsiYXPXa3s8pieF4-BsEDhhBJ0lsvMZnA7rwpYEznoNuq0583qEVktlXBaiG_yL2ded1ade7zNJ_Lk7rs-Z8kZnwon5cFxPf7KQ-VPKQWEHjvoN7SRAbu4v__mkLR3l5w',
 'registered': True,
 'refreshToken': 'AOkPPWTF9EY6Qx9pJRjWb9u63GB9lRU3vEGLS0diy21dqbpeUkrsFN-ZDd5t_SsF-M9Wku0sVBMzvjqDTTaEvtc-qYkwzNlK3E7yCf9wCaKb4s1I3O_FQMTocm36PCvLb63nhytqrGouTQ-ZnVCUK4maiT9EGUcMvV7a0HwSUXrOyS2t7n8LfgyKh-wD3bVvR1cgDjfM5v3W',
 'expiresIn': '3600'}

In [3]:
auth.send_password_reset_email("clement.tailleur@gmail.com")

{'kind': 'identitytoolkit#GetOobConfirmationCodeResponse',
 'email': 'clement.tailleur@gmail.com'}

In [59]:
auth.create_user_with_email_and_password('clement.tailleur@gmail.com', 'test123456')

{'kind': 'identitytoolkit#SignupNewUserResponse',
 'idToken': 'eyJhbGciOiJSUzI1NiIsImtpZCI6ImQ3YjE5MTI0MGZjZmYzMDdkYzQ3NTg1OWEyYmUzNzgzZGMxYWY4OWYiLCJ0eXAiOiJKV1QifQ.eyJpc3MiOiJodHRwczovL3NlY3VyZXRva2VuLmdvb2dsZS5jb20vc2VsbGFjaSIsImF1ZCI6InNlbGxhY2kiLCJhdXRoX3RpbWUiOjE2NjgyNjY5NTUsInVzZXJfaWQiOiJPM1RuSElCRzFEZTg3bHRWaVM4MU1zS2ZDa24xIiwic3ViIjoiTzNUbkhJQkcxRGU4N2x0VmlTODFNc0tmQ2tuMSIsImlhdCI6MTY2ODI2Njk1NSwiZXhwIjoxNjY4MjcwNTU1LCJlbWFpbCI6ImNsZW1lbnQudGFpbGxldXJAZ21haWwuY29tIiwiZW1haWxfdmVyaWZpZWQiOmZhbHNlLCJmaXJlYmFzZSI6eyJpZGVudGl0aWVzIjp7ImVtYWlsIjpbImNsZW1lbnQudGFpbGxldXJAZ21haWwuY29tIl19LCJzaWduX2luX3Byb3ZpZGVyIjoicGFzc3dvcmQifX0.jm-IVDzRmu_kBouVjZkT6hEjG3JEWBKq66BaezjuM3hs7-Ffb8dhk9-awCtneSeNUIqutgrVlHNHG3xkhd5zldlcUxY8qRa5GalgjLplsyoaG5-51UA0M57zRxnDrliyTsmAigVxz7xBr4UW-h3_jYvLQoUzG8Wta6OkdhjpNz1tpO4j7Eu4NWRnulLmE3Qni7xBhuhLEr_ymUzLNvKCysgLO-6MF3_Q2q3OgLrDp43frjFb3Lwm_laIX_uHAso7PpNYZv3xOxk1jjdTSIwh1mr0b5Hc9zVpYdH6LNFlJDU36AU2AA8BJPMj5oHyscCIPIa9YPMm8eejv2Boeh0r7w',
 'email': 'clement.tailleur@gmail.com',
 'refreshToken': 'AOkPPWTT9_Q8lQ5SeEJz8IcfIhbOu_b2Vt3kFTilBikayKr7clXqJ-yMjpx-L7ifB0A-9mzQovW0EK8uDZrJEts8eD4we6kg9_KR4pA69Na3JVzMBVaahkNcoQC5qBxmjp9TqlFX6lMCTrmtm8fgtfuNkva1iloLkKVz_C-uFlv8c3-QLr2GQ58X5vrjKIdFrDRrPiyxxEnP',
 'expiresIn': '3600',
 'localId': 'O3TnHIBG1De87ltViS81MsKfCkn1'}

In [47]:
auth.sign_in_with_email_and_password('clement.tailleur@gmail.com', 'Test123456')

{'kind': 'identitytoolkit#VerifyPasswordResponse',
 'localId': 'O3TnHIBG1De87ltViS81MsKfCkn1',
 'email': 'clement.tailleur@gmail.com',
 'displayName': '',
 'idToken': 'eyJhbGciOiJSUzI1NiIsImtpZCI6ImY4MDljZmYxMTZlNWJhNzQwNzQ1YmZlZGE1OGUxNmU4MmYzZmQ4MDUiLCJ0eXAiOiJKV1QifQ.eyJpc3MiOiJodHRwczovL3NlY3VyZXRva2VuLmdvb2dsZS5jb20vc2VsbGFjaSIsImF1ZCI6InNlbGxhY2kiLCJhdXRoX3RpbWUiOjE2Njg4MTQ3MTUsInVzZXJfaWQiOiJPM1RuSElCRzFEZTg3bHRWaVM4MU1zS2ZDa24xIiwic3ViIjoiTzNUbkhJQkcxRGU4N2x0VmlTODFNc0tmQ2tuMSIsImlhdCI6MTY2ODgxNDcxNSwiZXhwIjoxNjY4ODE4MzE1LCJlbWFpbCI6ImNsZW1lbnQudGFpbGxldXJAZ21haWwuY29tIiwiZW1haWxfdmVyaWZpZWQiOnRydWUsImZpcmViYXNlIjp7ImlkZW50aXRpZXMiOnsiZW1haWwiOlsiY2xlbWVudC50YWlsbGV1ckBnbWFpbC5jb20iXX0sInNpZ25faW5fcHJvdmlkZXIiOiJwYXNzd29yZCJ9fQ.bPt-eNr5VuT_m3KfZdf88PKHch7-JpNhPFq36uPtoxNWXwRc36qk7fx_-h-ezWwqRBXDzfk-xxri599yF4h6Sz9MD-8f1vsvTrQim14-qhYRYbnmRorJXwNEn1sAZ-UWssJgaFf4feVFO1QT-n_zeH2FgLPZ8nGjQe4LTZCLtx-zxrjhCKE644Co5hK_zoWppVn4flHmftX60YXPLhZW8n2znd29CNCBHeX6F71GTnvXdAEUSyhhYbtdaqvXMbjDWxYfQZsdCdsO6iUhTGzLy7Kfzp2Pw3v-vpG9rxBOmpi9imrm0JSBIZxIA9u56nIXJ6QLUhsJpsvEY9292XycEQ',
 'registered': True,
 'refreshToken': 'AOkPPWS3dE06maMgHgOzYUHJXVSDPeBOwoyRCK-IOSk2N-UrpCChLVsd60AEMOSZZeF9YbvKJYfkkrUErOkt5SCrzHD3s4_CSUM73Qq0v9mbHVpIVo1JdsTQBqcgWNtIGlFnlZbP1N7YmrAt6ezlww5UUL8ZK9vbAf-JlJq6xAia0AveCATbcaLgPHt_qxo8sK_EuE9RcRtC',
 'expiresIn': '3600'}

In [48]:
auth.current_user

{'kind': 'identitytoolkit#VerifyPasswordResponse',
 'localId': 'O3TnHIBG1De87ltViS81MsKfCkn1',
 'email': 'clement.tailleur@gmail.com',
 'displayName': '',
 'idToken': 'eyJhbGciOiJSUzI1NiIsImtpZCI6ImY4MDljZmYxMTZlNWJhNzQwNzQ1YmZlZGE1OGUxNmU4MmYzZmQ4MDUiLCJ0eXAiOiJKV1QifQ.eyJpc3MiOiJodHRwczovL3NlY3VyZXRva2VuLmdvb2dsZS5jb20vc2VsbGFjaSIsImF1ZCI6InNlbGxhY2kiLCJhdXRoX3RpbWUiOjE2Njg4MTQ3MTUsInVzZXJfaWQiOiJPM1RuSElCRzFEZTg3bHRWaVM4MU1zS2ZDa24xIiwic3ViIjoiTzNUbkhJQkcxRGU4N2x0VmlTODFNc0tmQ2tuMSIsImlhdCI6MTY2ODgxNDcxNSwiZXhwIjoxNjY4ODE4MzE1LCJlbWFpbCI6ImNsZW1lbnQudGFpbGxldXJAZ21haWwuY29tIiwiZW1haWxfdmVyaWZpZWQiOnRydWUsImZpcmViYXNlIjp7ImlkZW50aXRpZXMiOnsiZW1haWwiOlsiY2xlbWVudC50YWlsbGV1ckBnbWFpbC5jb20iXX0sInNpZ25faW5fcHJvdmlkZXIiOiJwYXNzd29yZCJ9fQ.bPt-eNr5VuT_m3KfZdf88PKHch7-JpNhPFq36uPtoxNWXwRc36qk7fx_-h-ezWwqRBXDzfk-xxri599yF4h6Sz9MD-8f1vsvTrQim14-qhYRYbnmRorJXwNEn1sAZ-UWssJgaFf4feVFO1QT-n_zeH2FgLPZ8nGjQe4LTZCLtx-zxrjhCKE644Co5hK_zoWppVn4flHmftX60YXPLhZW8n2znd29CNCBHeX6F71GTnvXdAEUSyhhYbtdaqvXMbjDWxYfQZsdCdsO6iUhTGzLy7Kfzp2Pw3v-vpG9rxBOmpi9imrm0JSBIZxIA9u56nIXJ6QLUhsJpsvEY9292XycEQ',
 'registered': True,
 'refreshToken': 'AOkPPWS3dE06maMgHgOzYUHJXVSDPeBOwoyRCK-IOSk2N-UrpCChLVsd60AEMOSZZeF9YbvKJYfkkrUErOkt5SCrzHD3s4_CSUM73Qq0v9mbHVpIVo1JdsTQBqcgWNtIGlFnlZbP1N7YmrAt6ezlww5UUL8ZK9vbAf-JlJq6xAia0AveCATbcaLgPHt_qxo8sK_EuE9RcRtC',
 'expiresIn': '3600'}

In [80]:
firebase_admin.initialize_app(
    credential=credentials.Certificate(
    {
      "type": "service_account",
      "project_id": "sellaci",
      "private_key_id": "5f598ccd9d7a2090d0966d97c68f8ae7fef7176d",
      "private_key": "-----BEGIN PRIVATE KEY-----\nMIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQCln6MR/FU+ScEO\niwbLy4AiuZXUpqc4BP8kZ4G/YKMQshPqft95gpKVZnP7GOPJhhgPvEifO+97bS5K\nrpUznarNrvbPXqZYVwIU04bK6XJNOQrxSKDPmMl1WHyI7xwV/gY+Ca02bfZgKVZE\njuuRj5IynVbP4XoMljhdWzOB4gU/VCA+QDtw7dqWMO565QV1zJTm89q+jFi7nowA\nMhf5CsUoEwckwR8sHnZYPzMfnnOwVJnex/vT6gP98zh4Ni9+Ti4ZCFOVAMC5lQlY\nZTxrovRuuFp+/BCsXAarleC/64wza4sCXqTsaiDe6EByt0cp26yldqezTj6RW1Fk\neTGAeXdrAgMBAAECggEAIbmk+geY0AsyraRvqNXybJ+/u8KHsGeMELym9fJWohKw\n7YISPWryMEvheBL0Z1fP1HxxiUMqG8b6syhjp1QGsMVc6pMKalilStpbyzvIE6N2\n7/TrEfq5oxR2n2eZH31PhhhwVfIERkaEk4dKvqQuj/Hr+H6gXKnGJnRow5zjlqZV\n4oHMyTbNtBpPwExpQIoI0hlb+E7Z+yeac8xI7f47azNsFplA9MKoSifjpR0TMBSg\n5GpgnUJgRZrW3YhqI74fgsgmSLtN3UvfSp3Ce1H+NRkTSSuFjpg2vQOZLxmWEt+T\nIeczuP6//hoxgo/+e2EQFwAMfo2zJw6rY9ogvF6WaQKBgQDOXo82e0u24PcnM1dJ\nOu5aruxqAMvUbSbXzNcFn1Kkdo2NToLwkS80kMSA1WaC73oFKTYzBuWXmos92r+h\nAHBG9Yi5ZZX+KJdp+SxikijA4T04sSs0Sj+VmjK0klP6CllCLDxnyQTLIxATMu6U\nK/aiWyRoQFgSftLMgq3CLpTsRwKBgQDNdIBxHTxCTpN2d9WuUrUSkIl2gKgq83OC\npIXHW6JscI0HUAy8e+dQa2plAC06/UjTzVAodJBMFYoT5DSXgTgFUNDSn+B+wukV\n0aYiyFZvCb6Sp3QACuiaLFVWccr1nditXdRS42Q932gT1glTmw1khuYy0KEoZNUq\np0G5+K9BvQKBgAivRgue6LLLiNsnd/bm+fzq+5wCaJGJ/mZ6gloEOHAfZRmbQjtp\ngLkPlpVtZaEA/vuUnmlLUwIsSMvTltjpsc/qqVRUCBnoD2cwS0PirsBfOjpWimDq\n9v4OvS+IMOyG3va/8dLUTNVXpmeIby3hI8H1X/TbMFmm6Kwem71eRHolAoGACXIS\nuaCTdaTxKKAnxcTtqDXW7AjMMnVQ2S/BKsIuvHeMNErc2wmDP/JASPZyHeUpJPuq\ndMGvJKBU4cc7F8AMGEp330cUZh+F4cfqsGyvdJlpFor2TU4zFWt2XOwMXbBtFsNa\nkJj9sc6ElWzgruRRAE8nZCytTBMercBUyD0Dqa0CgYAy6kxVkh1njUixqwNoKF9A\nY4bd/JyOU0O3JB3CdJfNbZglIavpCfzI56RBKUqjWEaeZwWJL2BoOzxWeJ+bMxUE\nrfnW73qJ6ZqTmv2YIG8Ei8H25InGj22f5zdThxCVaVSd7NSkGOysseM6brDVXkWm\ngyh/vRTR429DBF9Giax34w==\n-----END PRIVATE KEY-----\n",
      "client_email": "firebase-adminsdk-vrooh@sellaci.iam.gserviceaccount.com",
      "client_id": "117115721026856461390",
      "auth_uri": "https://accounts.google.com/o/oauth2/auth",
      "token_uri": "https://oauth2.googleapis.com/token",
      "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
      "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/firebase-adminsdk-vrooh%40sellaci.iam.gserviceaccount.com"
    }

    ), 
    name='sellaci-367920'
)

ValueError: Firebase app named "sellaci-367920" already exists. This means you called initialize_app() more than once with the same app name as the second argument. Make sure you provide a unique name every time you call initialize_app().

In [ ]:
import firebase_admin
from firebase_admin import credentials
from firebase_admin import firestore
path = "sellaci-firebase-adminsdk-vrooh-5f598ccd9d.json"

# Use a service account.
cred = credentials.Certificate(path)

#app = firebase_admin.initialize_app(cred)

db = firestore.client()

In [72]:
firebase_admin.get_app(name='project-22230406503')

ValueError: Firebase app named "project-22230406503" does not exist. Make sure to initialize the SDK by calling initialize_app() with your app name as the second argument.

In [65]:
import firebase_admin
from firebase_admin import credentials
from firebase_admin import firestore
path = "sellaci-firebase-adminsdk-vrooh-5f598ccd9d.json"

# Use a service account.
#cred = credentials.Certificate('AIzaSyC1cWUnbS8RVylcsWEO2WUtG99lrMemvwM')
config = {
  "apiKey": "AIzaSyC1cWUnbS8RVylcsWEO2WUtG99lrMemvwM",
  "authDomain": "sellaci.firebaseapp.com",
  "databaseURL": "",
  "storageBucket": "sellaci.appspot.com"
}

app = firebase_admin.initialize_app(config)

db = firestore.client()

ValueError: Illegal Firebase credential provided. App must be initialized with a valid credential instance.

In [33]:
db

In [34]:
doc_ref = db.collection(u'players')

In [36]:
doc_ref = db.collection('players').document('MartinOdegaard')

doc_ref.set({
    'name': 'Odegaard',
    'club': ['Arsenal', 'Real Madrid'],
})

update_time {
  seconds: 1668263784
  nanos: 554648000
}

In [42]:
doc_ref = db.collection('users').document('clement.tailleur@gmail.com')

In [43]:
res = doc_ref.get().to_dict()
res['Name']

'Clément'

In [49]:
db.collection('users').document('clement.tailleur@gmail.com')

In [51]:
db.collection('users').document('ded.tailleur@gmail.com').set({})

update_time {
  seconds: 1668816586
  nanos: 547009000
}